@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "";
}

<h2>
    Sorry, an error occurred while processing your request.    
</h2>
<h4>
    @Model.Exception.Message;
</h4>
<div>
    
</div>
