@{
    Layout = null;// "/Views/Shared/_ShipmentsLayout.cshtml";
    // ViewBag.Title = "Shipments";
}
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-url='@Url.Action("Register", "Account")'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="H1">
                    Upload Shipment</h4>
            </div>
            @using (Html.BeginForm("UploadFile", "Shipments", FormMethod.Post, new { @enctype = "multipart/form-data", @roll = "form", @ID = "frmUpload" }))
            {
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ShipmentFile" class="control-label">
                            Select Shipment File</label>
                        <input type="file" name="ShipmentFile" id="ShipmentFile" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" value="Download" class="btn btn-primary" onclick="SubmitMe('/Shipments/GetUploadFormat/','frmUpload')">
                        <i class="glyphicon glyphicon-download"></i>Download Format</button>
                    <button type="button" value="Upload" class="btn btn-primary" onclick="SubmitMe('/Shipments/UploadFile/','frmUpload')">
                        <i class="glyphicon glyphicon-upload"></i>Upload</button>
                </div>
            }
        </div>
    </div>
</div>
